<table>
  <th>
    <td>Departure Time</td>
    <td>From</td>
    <td>To</td>
    <td>Duration</td>
    <td>Distance</td>
  </th>
  <tr>
    <td><%= @route.departure_time %></td>
    <td><%= @route.origin %></td>
    <td><%= @route.destination %></td>
    <td><%= @route.duration_text %></td>
    <td><%= @route.distance_text %></td>
  </tr>
</table>